/* comentarios */
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Geist:wght@100..900&display=swap');
/*regla de estilos- normas elijo con selector y le doy estilo
selector { 
propiedad: valor;
propiedad: valor;
} */

/*agrupacion sectores*/
h1 , h2, h3, h4, h5, h6 {
  color: rgb(125, 72, 183);
  
    font-family: "Familjen Grotesk", sans-serif;
}
p {
  color: rgb(31, 27, 36);
 ;
    font-family: "Geist", sans-serif;
}


a {
  color: rgb(31, 27, 36);
   text-decoration: none;
   font-family: "Geist", sans-serif;
}
/*selector li*/
#arcvhivocarpeta {
  color: rgb(38, 35, 43);
  font-size: 25px;  
  
}

#movimiento {
  color: rgb(38, 35, 43);
  background-color: rgb(211, 158, 239);

}

#movimiento h1 {
    background-color: rgb(255, 0, 234);
    color: beige; 
  }
#nuestros {
  color: rgb(0, 0, 0);
  background-color: rgb(140, 226, 200);
    font-family: Arial, Helvetica, sans-serif;
}

/* RECURSOS */
#recursos {
  color: rgb(0, 0, 0);
  background-color: rgb(226, 152, 230);
    
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas iguales */

}
#recursos h3 {
    background-color: rgb(255, 0, 234);
    color: beige; 
  }

.recursosimagen{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*testimonios*/

#testimonios {
  background-color: #ddd6f0;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;
}

#testimonios h3 {
  grid-column: 1 / -1; /* ocupa las 3 columnas */
  font-size: 2.5rem;
  font-weight: 900;
  color: #6b5fa6;
}

#testimonios > p {
  grid-column: 1 / -1; /* ocupa las 3 columnas */
  color: #666;
}

#testimonios > div {
  background: white;
  border-radius: 16px;
  padding: 5rem;
  margin-top: 1.5rem;
}

/*selector clase*/  

.destacado{
  color: rgb(38, 35, 43);
  font-style: oblique;
    
}

.subrayado {
  box-shadow: inset 0 -0.5em 0 0 rgba(236, 161, 255, 1);
}
ul{
  color: rgb(38, 35, 43);
  list-style: none;
    
}